<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Webpage</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <h1>Manage Webpage</h1>

    <div style="display: flex; justify-content: space-around;">

        <div>
            <h1>Users</h1>
            <div id="users" style="border:1px solid black ;">
               
                
            </div>
        </div>

        <div >
            <h1>Feedbacks</h1>
            <div id="feedbacks" >
                
            </div>
        </div>


    </div>


    <script src='js/jquery-3.6.0.min.js'></script>
    <script src='js/manage.js'></script>
    
</body>
</html>